/* Based on https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* reset end */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  margin: -1px;
}

:root {
  --color-pure-white: hsl(0, 0%, 100%);
  --color-cream-bg: hsl(28, 38%, 92%);
  --color-aurometal-saurus: hsl(228, 12%, 48%);
  --color-deep-aquamarine: hsl(157, 36%, 37%);
  --color-deep-aquamarine-hover: hsl(157, 43%, 18%);
  --color-gunmetal: hsl(212, 21%, 14%);
}

body {
  background-color: var(--color-cream-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.75rem 1rem;
  min-height: 100dvh;
}

.card {
  background-color: var(--color-pure-white);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  max-width: 26rem;
}
.card .header-image {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  padding: clamp(1.5rem, 2.9304029304vw + 0.8131868132rem, 2rem);
}
.card .price-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.1875rem;
  padding-top: clamp(1.5rem, 1.8315018315vw + 1.0707417582rem, 1.8125rem);
  padding-bottom: clamp(1.25rem, 3.663003663vw + 0.3914835165rem, 1.875rem);
}
.card .category-tag {
  order: -1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.3125rem;
  color: var(--color-aurometal-saurus);
}
.card .title {
  padding-top: clamp(0.75rem, 2.9304029304vw + 0.0631868132rem, 1.25rem);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  color: var(--color-gunmetal);
}
.card p {
  padding-top: clamp(1rem, 2.9304029304vw + 0.3131868132rem, 1.5rem);
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4375rem;
  color: var(--color-aurometal-saurus);
}
.card .price-tag {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  color: var(--color-deep-aquamarine);
  animation: 4s linear 1s infinite none running grow;
}
.card .old-price-tag {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4375rem;
  color: var(--color-aurometal-saurus);
  font-size: 0.8125rem;
}

.btn-base {
  background-color: var(--color-deep-aquamarine);
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-pure-white);
  position: relative;
  z-index: 1;
}
.btn-base:hover {
  cursor: pointer;
}
.btn-base::after {
  content: "";
  z-index: -1;
  background-color: var(--color-deep-aquamarine-hover);
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  opacity: 0.1;
  transition: all 350ms;
}
.btn-base:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

@keyframes grow {
  0%, 75% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.125);
  }
}
@media (min-width: 40.5rem) {
  body {
    padding: 10.6875rem 1rem;
  }
  .card {
    flex-direction: row;
    max-width: 37.5rem;
  }
  .card .header-image {
    border-top-right-radius: unset;
    border-bottom-left-radius: inherit;
  }
  .card .card-body {
    max-width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
