@use "sass-toolkit" as st;

// css-reset
@include st.reset-add;

// hide text intended only for screen readers
@include st.access-sr-only-class;

// Typography
@mixin overline {
    font-family: "Montserrat", sans-serif;
    font-size: st.px2rem(12);
    font-weight: 500;
    letter-spacing: st.px2rem(5);
    color: var(--color-aurometal-saurus);
}

@mixin display {
    font-family: "Fraunces", serif;
    font-size: st.px2rem(32);
    font-weight: 700;
    line-height: 1em;
}

@mixin body {
    font-family: "Montserrat", sans-serif;
    font-size: st.px2rem(14);
    font-weight: 500;
    line-height: st.px2rem(23);
    color: var(--color-aurometal-saurus);
}

@mixin button-text {
    font-family: "Montserrat", sans-serif;
    font-size: st.px2rem(14);
    font-weight: 700;
    color: var(--color-pure-white);
}

// Styles
:root {
    --color-pure-white: hsl(0, 0%, 100%);
    --color-cream-bg: hsl(28, 38%, 92%);
    --color-aurometal-saurus: hsl(228, 12%, 48%);
    --color-deep-aquamarine: hsl(157, 36%, 37%);
    --color-deep-aquamarine-hover: hsl(157, 43%, 18%);
    --color-gunmetal: hsl(212, 21%, 14%);
}

body {
    // Fill
    background-color: var(--color-cream-bg);
    // Layout
    @include st.layout-flex(column);
    align-items: center;
    justify-content: center;
    padding: st.px2rem(28) st.px2rem(16);
    min-height: 100dvh;
}

.card {
    // Fill
    background-color: var(--color-pure-white);
    // Appearance
    border-radius: st.px2rem(10);
    // Layout
    @include st.layout-flex(column);
    max-width: st.px2rem(416);

    .header-image{
        // Appearance
        @include st.ap-border-radius-top(inherit);
    }

    .card-body {
        // Layout
        @include st.layout-flex(column);
        padding: st.linear-func-clamp(24, 375, 32, 648);
    }

    .price-box {
        // Layout
        @include st.layout-flex(row);
        align-items: center;
        gap: st.px2rem(19);
        padding-top: st.linear-func-clamp(24, 375, 29, 648);
        padding-bottom: st.linear-func-clamp(20, 375, 30, 648);
    }

    .category-tag {
        order: -1;
        @include overline;
    }

    .title {
        padding-top: st.linear-func-clamp(12, 375, 20, 648);
        @include display;
        color: var(--color-gunmetal);
    }

    p {
        padding-top: st.linear-func-clamp(16, 375, 24, 648);
        @include body;
    }

    .price-tag {
        @include display;
        color: var(--color-deep-aquamarine);
        //Animation
        // Keyframes duration | easing func | delay | iteration-count | fill-mode | play-state | keyframes-name
        animation: 4s linear 1s infinite none running grow;
    }

    .old-price-tag {
        @include body;
        font-size: st.px2rem(13);
    }
}

.btn-base {
    background-color: var(--color-deep-aquamarine);
    border-radius: st.px2rem(8);
    border: none;
    @include st.layout-flex(row);
    justify-content: center;
    align-items: center;
    gap: st.px2rem(12);
    padding-top: st.px2rem(15);
    padding-bottom: st.px2rem(15);
    width: 100%;
    @include button-text;
    //Transition
    position: relative;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }

    &::after {
        content: "";
        z-index: -1;
        background-color: var(--color-deep-aquamarine-hover);
        border-radius: inherit;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        opacity: 0.1;
        transition: all 350ms;
    }

    &:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }
}

// Animations
@keyframes grow {
    0%,
    75% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.125);
    }
}

// Queries
@media (min-width: st.px2rem(648)) {
    body {
        padding: st.px2rem(171) st.px2rem(16);
    }

    .card {
        flex-direction: row;
        max-width: st.px2rem(600);

        .header-image{
        border-top-right-radius: unset;
        border-bottom-left-radius: inherit;
        }

        .card-body {
            max-width: 50%;
        }
    }
}