@use "sass-toolkit" as st;

// css-reset
@include st.reset-add;

@include st.access-sr-only-class;

// Typography
@mixin overline {
    font-family: "Montserrat", sans-serif;
    font-size: st.px2rem(12);
    font-weight: 500;
    letter-spacing: st.px2rem(5);
    color: var(--color-aurometal-saurus);
}

@mixin display {
    font-family: "Fraunces", serif;
    font-size: st.px2rem(32);
    font-weight: 700;
    line-height: 1em;
}

@mixin body {
    font-family: "Montserrat", sans-serif;
    font-size: st.px2rem(14);
    font-weight: 500;
    line-height: st.px2rem(23);
    color: var(--color-aurometal-saurus);
}

@mixin button-text {
    font-family: "Montserrat", sans-serif;
    font-size: st.px2rem(14);
    font-weight: 700;
    color: var(--color-pure-white);
}

:root {
    --color-pure-white: hsl(0, 0%, 100%);
    --color-cream-bg: hsl(28, 38%, 92%);
    --color-aurometal-saurus: hsl(228, 12%, 48%);
    --color-deep-aquamarine: hsl(157, 36%, 37%);
    --color-deep-aquamarine-hover: hsl(157, 43%, 18%);
    --color-gunmetal: hsl(212, 21%, 14%);
}



body {
    background-color: var(--color-cream-bg);
    @include st.layout-flex(column);
    align-items: center;
    justify-content: center;
    padding: st.px2rem(28) st.px2rem(16);
    min-height: 100dvh;
}

.card {
    background-color: var(--color-pure-white);
    border-radius: st.px2rem(10);
    @include st.layout-flex(column);
    max-width: st.px2rem(416);

    .header-image{
        @include st.ap-border-radius-top(inherit);
    }

    .card-body {
        @include st.layout-flex(column);
        padding: st.linear-func-clamp(24, 375, 32, 648);
    }

    .price-box {
        @include st.layout-flex(row);
        align-items: center;
        gap: st.px2rem(19);
        padding-top: st.linear-func-clamp(24, 375, 29, 648);
        padding-bottom: st.linear-func-clamp(20, 375, 30, 648);
    }

    .category-tag {
        order: -1;
        @include overline;
    }

    .title {
        padding-top: st.linear-func-clamp(12, 375, 20, 648);
        @include display;
        color: var(--color-gunmetal);
    }

    p {
        padding-top: st.linear-func-clamp(16, 375, 24, 648);
        @include body;
    }

    .price-tag {
        @include display;
        color: var(--color-deep-aquamarine);
    }

    .old-price-tag {
        @include body;
        font-size: st.px2rem(13);
    }
}

.btn-base {
    background-color: var(--color-deep-aquamarine);
    border-radius: st.px2rem(8);
    border: none;
    @include st.layout-flex(row);
    justify-content: center;
    align-items: center;
    gap: st.px2rem(12);
    padding-top: st.px2rem(15);
    padding-bottom: st.px2rem(15);
    width: 100%;
    @include button-text;

    &:hover {
        background-color: var(--color-deep-aquamarine-hover);
        cursor: pointer;
    }
}

@media (min-width: st.px2rem(648)) {
    body {
        padding: st.px2rem(171) st.px2rem(16);
    }

    .card {
        flex-direction: row;
        max-width: st.px2rem(600);

        .header-image{
        border-top-right-radius: unset;
        border-bottom-left-radius: inherit;
        }

        .card-body {
            max-width: 50%;
        }
    }
}